{% extends "base.html" %}

{% block content %}
<div class="sectionHeader">
	<h2>RSVP</h2>
</div>
<div class="searchBlock">
	<p>
		Please enter the full name of one person in your party. Make sure to enter it exactly as it appears on your invitation: 
	</p>
	{% if error_message %}<div class="error">{{error_message}}</div>{% endif %}
	<div class="searchForm">
		<form action="{% url 'rsvpApp:search' %}" method="get">
			{{ form }}<br/>
			<input class="searchsubmit" type="submit" value="Find me!" />
		</form>
	</div>
</div>
{% endblock %}