
<form action="{% url 'rsvpApp:respond' rsvpresponse.id %}" method="post">
{% csrf_token %}
{{ formset.management_form}}
{% for form, guest in formset_and_guests %}
	{{form.id}}
	{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}	
	<table border=1>
		<thead>
			<td>Guest</td>
			<td>Attending?</td>
			<td>prefers to drink?</td>
		</thead>
		<tr>
			<td>{{guest.guest_name}}</td>
			<td>{{form.guest_attending}}</td>
			<td>{{form.guest_drink_pref}}</td>
		</tr>
	</table>

{% endfor %} 

<input type="submit" value="RSVP!!!!"/>
</form>
